.branding-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 136px;
  position: relative;
  width: 100%;
}

.side-circle {
  position: absolute;
  right: 0;
}

.side-circle-mobile {
  display: none;
}

/* .branding-content {
  max-width: 540px;
} */

.branding-title {
  color: #272d38;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 48px */
  text-transform: capitalize;
  width: 435.687px;
  height: 102.347px;
  flex-shrink: 0;
}

.branding-description {
  width: 392.217px;
  height: 83.157px;
  flex-shrink: 0;
  color: #272d38;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 171.875% */
  text-transform: capitalize;
  margin-top: 24px;
  margin-bottom: 47px;
}

@media (max-width: 800px) {
  .branding-container {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .branding-content {
    width: 100%;
    padding: 0 25px;
  }
  .side-circle {
    display: none;
  }
  .side-circle-mobile {
    display: block;
    position: absolute;
    right: -10px;
  }
  .branding-title {
    flex-shrink: 0;
    color: #272d38;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    text-transform: capitalize;
  }
  .branding-description {
    width: 100%;
    flex-shrink: 0;
    color: #272d38;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
    text-transform: capitalize;
  }
}
