.trends-container {
  margin-top: 157px;
  width: 75%;
  margin: 0 auto;
  margin-top: 157px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-size {
  width: 140px;
}

.trends-statics {
  color: #667085;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 16px */
  text-transform: capitalize;
}

.trends-box {
  display: flex;
  background: #f6f6f6;
  border-radius: 8px;
  justify-content: space-between;
  padding: 0px 24px;
}

@media (max-width: 800px) {
  .trends-container {
    width: 90%;
    margin: 0px auto;
    margin-top: 120px;
  }
  .trends-box {
    text-align: center;
    height: 86px;
  }
  .icon-size {
    width: 60px;
  }
}
